#div1 {
  margin: 5px;
  border: 5px;
  border-color: black;
  border-style: solid;
  padding: 5px;
  background-color: orange;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 450px;
  left: 0px;
  z-index: 4;
}
#div2 {
  margin: 5px;
  border: 5px;
  border-color: black;
  border-style: solid;
  padding: 5px;
  background-color: green;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 500px;
  left: 50px;
  z-index: 3;
}
#div3 {
  margin: 5px;
  border: 5px;
  border-color: black;
  border-style: solid;
  padding: 5px;
  background-color: blue;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 550px;
  left: 100px;
  z-index: 2;
}
#div4 {
  margin: 5px;
  border: 5px;
  border-color: black;
  border-style: solid;
  padding: 5px;
  background-color: red;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 600px;
  left: 150px;
  z-index: 1;
}
span {
  vertical-align: bottom;
  text-align: center;
}
pre#scroll {
  overflow-x: scroll;
  overflow-y: scroll;
}
