body {
  margin: 0;
  padding: 0;
}
header, footer {
  float: left;
  width: 100%;
  background-color: #7152f4;
  color: #fff;
}
#wrapper {
  float: left;
  padding-left: 200px;
  padding-right: 125px;
}
#left_side {
  position: relative;
  float: left;
  width: 200px;
  background-color: #52f471;
  right: 200px;
  margin-left: -100%
}
#right_side {
  position: relative;
  float: left;
  width: 125px;
  background-color: #f452d5;
  margin-right: -125px;
}
#content_area {
  position: relative;
  float: left;
  background-color: #fff;
  width: 100%;
}
